/.metadata/
/.class/
/.xml/
Template_Login/.classpath
Template_Login/.classpath
Template_Login/ant/environment.properties
Template_Login/bin/it/unibo/tw/beans/UtentiDB.class
Template_Login/bin/it/unibo/tw/servlets/ChangePasswordServlet.class
Template_Login/bin/it/unibo/tw/servlets/LoginServlet.class
Template_Login/bin/it/unibo/tw/servlets/RegistrazioneServlet.class
Template_Login/build/archives/Template_Login.war
Template_Login/build/classes/it/unibo/tw/beans/LoginJson.class
Template_Login/build/classes/it/unibo/tw/beans/Utente.class
Template_Login/build/classes/it/unibo/tw/beans/UtentiDB.class
Template_Login/build/classes/it/unibo/tw/servlets/ChangePasswordServlet.class
Template_Login/build/classes/it/unibo/tw/servlets/LoginServlet.class
Template_Login/build/classes/it/unibo/tw/servlets/RegistrazioneServlet.class
Template_Login/build/exploded/Template_Login/META-INF/MANIFEST.MF
Template_Login/.classpath
Template_Login/ant/environment.properties
Template_Login/bin/it/unibo/tw/beans/UtentiDB.class
Template_Login/bin/it/unibo/tw/servlets/ChangePasswordServlet.class
Template_Login/bin/it/unibo/tw/servlets/LoginServlet.class
Template_Login/bin/it/unibo/tw/servlets/RegistrazioneServlet.class
Template_Login/build/archives/Template_Login.war
Template_Login/build/classes/it/unibo/tw/beans/LoginJson.class
Template_Login/build/classes/it/unibo/tw/beans/Utente.class
Template_Login/build/classes/it/unibo/tw/beans/UtentiDB.class
Template_Login/build/classes/it/unibo/tw/servlets/ChangePasswordServlet.class
Template_Login/build/classes/it/unibo/tw/servlets/LoginServlet.class
Template_Login/build/classes/it/unibo/tw/servlets/RegistrazioneServlet.class
Template_Login/build/exploded/Template_Login/META-INF/MANIFEST.MF
Template_Login/build/exploded/Template_Login/WEB-INF/classes/it/unibo/tw/beans/Utente.class
*.class
*.class
*.war
*.MF
*.xml
